### 1. How-to-count-distance-to-the-previous-zero

For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)

create a new column 'Y'

Consider a DataFrame df where there is an integer column 'X'

import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [48]:
import pandas as pd

In [47]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

izero = np.r_[-1, (df['X'] == 0).nonzero()[0]] # indices of zeros
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

### 2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [51]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01    0.999433
2015-01-02    0.232629
2015-01-05    0.552296
2015-01-06    0.179375
2015-01-07    0.452441
2015-01-08    0.119308
2015-01-09    0.545253
2015-01-12    0.518284
2015-01-13    0.958478
2015-01-14    0.163729
2015-01-15    0.581099
2015-01-16    0.116752
2015-01-19    0.936329
2015-01-20    0.653562
2015-01-21    0.909562
2015-01-22    0.647066
2015-01-23    0.070769
2015-01-26    0.441545
2015-01-27    0.910807
2015-01-28    0.884172
2015-01-29    0.664557
2015-01-30    0.469274
2015-02-02    0.710124
2015-02-03    0.786941
2015-02-04    0.574755
2015-02-05    0.256646
2015-02-06    0.523022
2015-02-09    0.873129
2015-02-10    0.198660
2015-02-11    0.682388
                ...
2015-11-20    0.808872
2015-11-23    0.032972
2015-11-24    0.465404
2015-11-25    0.241314
2015-11-26    0.900548
2015-11-27    0.435901
2015-11-30    0.011768
2015-12-01    0.569665
2015-12-02    0.099343
2015-12-03    0.531075
2015-12-04    0.535724
2015-12-07    0.974131
2015-12-08    0.616150
2015-12-09    0.482499
2015-12-10    0.119648
2015-12-11    0.655310
2015-12-14    0.640122
2015-12-15    0.072459
2015-12-16    0.717415
2015-12-17    0.581158
2015-12-18    0.552747
2015-12-21    0.581145
2015-12-22    0.966003
2015-12-23    0.861751
2015-12-24    0.077463
2015-12-25    0.856781
2015-12-28    0.628931
2015-12-29    0.166703
2015-12-30    0.649713
2015-12-31    0.665627
Freq: B, Length: 261, dtype: float64

### 3. Find the sum of the values in s for every Wednesday

In [39]:
s[dti.weekday == 2].sum()

23.069945168945484

### 4. Average For each calendar month

In [42]:
s.resample('M', how='mean')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2015-01-31    0.564438
2015-02-28    0.435693
2015-03-31    0.478385
2015-04-30    0.516218
2015-05-31    0.510004
2015-06-30    0.473841
2015-07-31    0.601061
2015-08-31    0.546489
2015-09-30    0.456951
2015-10-31    0.589572
2015-11-30    0.496638
2015-12-31    0.504716
Freq: M, dtype: float64

### 5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [43]:
s.groupby(pd.TimeGrouper('4M')).idxmax()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31   2015-01-23
2015-05-31   2015-04-06
2015-09-30   2015-08-14
2016-01-31   2015-10-19
dtype: datetime64[ns]